<div class="jumbotron text-center" style="height:1000px">
    <h1 class="display-4">This is your information</h1>
    <hr class="my-4">
    <div *ngIf="posts">
        <p class="font-weight-bold">userId:{{posts.userId}}</p>
        <p class="font-weight-bold">id:{{posts.id}}</p>
        <p class="font-weight-bold">title:{{posts.title}}</p>
        <p class="font-weight-bold">completed:{{posts.completed}}</p>
    </div>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" (Click)="btnClick()">重新回報</a>
    </p>
</div>